---
import Footer from './components/Footer.astro';
import Header from './components/Header.astro';
import RollbarScript from './components/RollbarScript.astro';
import DarkModeScript from './components/DarkModeScript.astro';
import '../../style.scss';

const { title } = Astro.props;
---

<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <RollbarScript />
    <slot name="head" />
    <link rel="stylesheet" href="/prism-base16-ateliersulphurpool.light.css" />
  </head>
  <body>
    <DarkModeScript /><div
      class="font-sans antialiased text-ui-typo bg-ui-background">
      <div class="flex flex-col justify-start min-h-screen">
        <header
          class="sticky top-0 z-10 w-full border-b bg-ui-background border-ui-border">
          <Header />
        </header>
        <main
          class="container relative flex flex-wrap justify-start flex-1 w-full bg-ui-background">
          <div class="w-full pb-24">
            <slot />
            <!-- your content is injected here -->
          </div>
        </main>

        <footer class="border-t border-ui-border">
          <Footer />
        </footer>
      </div>
    </div>
  </body>
</html>
