---
import Header from './components/Header.astro';
import RollbarScript from './components/RollbarScript.astro';
import Footer from './components/Footer.astro';

import '../../style.scss';

const { title } = Astro.props;
---

<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <RollbarScript />
    <slot name="head" />
    <link rel="stylesheet" href="/prism-base16-ateliersulphurpool.light.css" />
  </head>
  <body>
    <script is:inline>
      /* eslint-disable prettier/prettier */
      function setDarkMode(value) {
        if (value) {
          document.body.classList.add(LIGHTS_OUT);
        } else {
          document.body.classList.remove(LIGHTS_OUT);
        }
      }
      const LIGHTS_OUT = 'lights-out';
      if (window.sessionStorage.getItem(LIGHTS_OUT)) {
        const lightsOut = window.sessionStorage.getItem(LIGHTS_OUT);
        setDarkMode(lightsOut === 'true');
      } else {
        const darkModeMediaQuery = window.matchMedia(
          '(prefers-color-scheme: dark)',
        );
        setDarkMode(darkModeMediaQuery.matches);
      }
      /* eslint-enable prettier/prettier */
    </script><div class="font-sans antialiased text-ui-typo bg-ui-background">
      <div class="flex flex-col justify-start min-h-screen">
        <header
          class="sticky top-0 z-10 w-full border-b bg-ui-background border-ui-border">
          <Header />
        </header>
        <main
          class="container relative flex flex-wrap justify-start flex-1 w-full bg-ui-background">
          <div class="w-full pb-24">
            <slot />
            <!-- your content is injected here -->
          </div>
        </main>

        <footer class="border-t border-ui-border">
          <Footer />
        </footer>
      </div>
    </div>
  </body>
</html>
