---
import { getCollection, getEntry } from 'astro:content';

import Layout from '../../../layouts/Layout/Layout.astro';

export interface Params {
  slug: string;
}

export async function getStaticPaths() {
  const entries = await getCollection('processed-content');
  return entries.map((entry) => ({
    params: {
      slug: entry.slug,
    },
  }));
}

const { slug } = Astro.params;
const page = await getEntry('processed-content', slug);
const { remarkPluginFrontmatter, Content } = await page.render();
---

<Layout title={page.data.title}>
  <main
    class="wd-doc-page container relative flex flex-wrap justify-start flex-1 w-full bg-ui-background">
    <h1>{page.data.title}</h1>
    <span class="reading-time">{remarkPluginFrontmatter.minutesRead}</span>
    <div class="flex flex-wrap items-start justify-start">
      <div class="order-1 w-full md:w-2/3"><Content /></div>
    </div>
  </main>
</Layout>
<style lang="scss">
  .reading-time {
    display: inline-flex;
    align-items: center;
    margin-left: 1em;
  }

  .wd-doc-page {
    /* .sidebar {
    @apply fixed bg-ui-background px-4 inset-x-0 bottom-0 w-full border-r border-ui-border overflow-y-auto transition-all z-40;

    transform: translateX(-100%);

    &.open {
      transform: translateX(0);

      @screen lg {
        @apply w-1/4 px-0 bg-transparent top-0 bottom-auto inset-x-auto sticky z-0;

        transform: translateX(0);
      }
    }
  } */
  }
</style>
