---
import type { MarkdownHeading } from 'astro';

export interface Props {
  headings: MarkdownHeading[];
}
const { headings } = Astro.props;
const level2Headings = headings.filter((heading) => heading.depth === 2);
---

{
  level2Headings.length > 0 && (
    <aside
      class="mt-8 pr-2 hidden md:block sm:pl-4 md:pl-6 md:pt-12 lg:pl-8 sm:pb-16 sm:border-l border-ui-border md:mt-0 h-full overflow-y-auto toc"
      style="max-height: calc(-4rem + 100vh);">
      <>
        <h2 class="pt-0 mt-0 text-sm tracking-wide uppercase border-none">
          На цій сторінці:
        </h2>
        <div>
          <ul>
            {level2Headings.map((heading) => (
              <li class="depth-2">
                <a
                  class="relative flex items-center py-1 text-sm transition transform hover:translate-x-1 text-ui-typo no-underline"
                  href={`#${heading.slug}`}>
                  <span class="absolute w-2 h-2 -ml-3 rounded-full opacity-0 bg-ui-primary transition transform scale-0 origin-center" />
                  {heading.text}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </>
    </aside>
  )
}

<script src="./scroll-to-hash.ts"></script>
