@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors ----------------------------

:root {
  --color-ui-background: theme('colors.white');
  --color-ui-typo: theme('colors.gray.700');
  --color-ui-sidebar: theme('colors.gray.200');
  --color-ui-sidebar-lighter-1: theme('colors.gray.50');
  --color-ui-border: theme('colors.gray.300');
  --color-ui-primary: theme('colors.indigo.600');
  --color-ui-footer: theme('colors.gray.100');
  --color-ui-primary-lighter-1: theme('colors.indigo.300');

  --color-ui-warning: theme('colors.yellow.100');
  --color-ui-warning-border: theme('colors.yellow.500');
  --color-ui-note: theme('colors.indigo.100');
  --color-ui-note-border: theme('colors.indigo.500');
  --color-ui-deprecated: theme('colors.red.100');
  --color-ui-deprecated-border: theme('colors.red.500');
  --color-ui-supported: rgba(16, 195, 109, 0.2);

  // Icons for BCD table
  --icon-platform-desktop: url('../assets/icons/computer-line.svg');
  --icon-platform-mobile: url('../assets/icons/smartphone-line.svg');
  --icon-platform-server: url('../assets/icons/server-line.svg');
  --icon-browser-chrome: url('../assets/icons/chrome-line.svg');
  --icon-browser-edge: url('../assets/icons/edge-fill.svg');
  --icon-browser-firefox: url('../assets/icons/firefox-line.svg');
  --icon-browser-ie: url('../assets/icons/ie-fill.svg');
  --icon-browser-opera: url('../assets/icons/opera-fill.svg');
  --icon-browser-safari: url('../assets/icons/safari-line.svg');
  --icon-browser-android: url('../assets/icons/android-line.svg');
  --icon-browser-samsung-internet: url('../assets/icons/samsung-internet.svg');
  --icon-browser-deno: url('../assets/icons/deno-fill.svg');
  --icon-browser-nodejs: url('../assets/icons/nodejs-line.svg');

  // translation status
  --color-intl-status-not-translated: rgba(252, 115, 115, 0.3);
  --color-intl-status-out-of-date: rgba(251, 191, 26, 0.3);
  --color-intl-status-up-to-date: rgba(16, 195, 109, 0.3);
}

html.lights-out {
  --color-ui-background: theme('colors.gray.900');
  --color-ui-typo: theme('colors.gray.100');
  --color-ui-sidebar: theme('colors.gray.800');
  --color-ui-sidebar-lighter-1: theme('colors.gray.700');
  --color-ui-primary-lighter-1: theme('colors.indigo.300');
  --color-ui-border: theme('colors.gray.800');
  --color-ui-primary: theme('colors.indigo.500');
  --color-ui-footer: theme('colors.gray.700');

  --color-ui-warning: theme('colors.yellow.900');
  --color-ui-warning-border: theme('colors.yellow.600');
  --color-ui-note: theme('colors.indigo.900');
  --color-ui-note-border: theme('colors.indigo.600');
  --color-ui-deprecated: theme('colors.red.900');
  --color-ui-deprecated-border: theme('colors.red.600');
  --color-ui-supported: rgba(16, 195, 109, 0.45);

  // Icons for BCD table
  --icon-platform-desktop: url('../assets/icons-dark/computer-line.svg');
  --icon-platform-mobile: url('../assets/icons-dark/smartphone-line.svg');
  --icon-platform-server: url('../assets/icons-dark/server-line.svg');
  --icon-browser-chrome: url('../assets/icons-dark/chrome-line.svg');
  --icon-browser-edge: url('../assets/icons-dark/edge-fill.svg');
  --icon-browser-firefox: url('../assets/icons-dark/firefox-line.svg');
  --icon-browser-ie: url('../assets/icons-dark/ie-fill.svg');
  --icon-browser-opera: url('../assets/icons-dark/opera-fill.svg');
  --icon-browser-safari: url('../assets/icons-dark/safari-line.svg');
  --icon-browser-android: url('../assets/icons-dark/android-line.svg');
  --icon-browser-samsung-internet: url('../assets/icons-dark/samsung-internet.svg');
  --icon-browser-deno: url('../assets/icons-dark/deno-fill.svg');
  --icon-browser-nodejs: url('../assets/icons-dark/nodejs-line.svg');

  // translation status
  --color-intl-status-not-translated: rgba(252, 85, 85, 0.4);
  --color-intl-status-out-of-date: rgba(251, 211, 36, 0.45);
  --color-intl-status-up-to-date: rgba(16, 195, 109, 0.45);

  pre,
  code[class*='language-'] {
    @apply bg-ui-border;
  }
}

// Global styles -------------------------------

* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
h1,
h2,
h3,
h4 {
  @apply leading-snug font-black mb-4 text-ui-typo;

  &:hover {
    a::before {
      @apply opacity-100;
    }
  }

  a {
    &::before {
      content: '#';
      margin-right: -1em;
      padding-left: 0.125em;
      @apply text-ui-primary absolute opacity-0 float-left;
    }
  }
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
a {
  @apply text-ui-typo underline;
  color: var(--color-ui-primary);
}
a:hover {
  @apply decoration-dotted;
}
p,
ol,
ul,
pre,
strong,
blockquote {
  @apply mb-4 text-base text-ui-typo;
}

.nav-link.active {
  color: var(--color-ui-primary);
  font-weight: 700;
}

.macro {
  display: inline-block;
  background: grey;
  position: relative;

  &:hover {
    background: transparent;
  }

  &::after {
    content: '';
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(50% - 0.5em);
    height: 1em;
    width: 1em;
    margin: 0 auto;
    animation: rotation 0.6s infinite linear;
    border-left: 6px solid rgb(0 174 239 / 15%);
    border-right: 6px solid rgb(0 174 239 / 15%);
    border-bottom: 6px solid rgb(0 174 239 / 15%);
    border-top: 6px solid rgb(0 174 239 / 80%);
    border-radius: 100%;
  }
  &.missing,
  &.broken {
    &::after {
      content: none;
    }
  }
  &.broken {
    background-color: black;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.status-icon {
  --size: var(--icon-size, 1rem);

  background-color: var(--color-ui-typo);
  display: inline-block;
  flex-shrink: 0;
  height: var(--size);
  mask-position: center;
  mask-repeat: no-repeat;
  vertical-align: middle;
  width: var(--size);

  &.deprecated {
    mask-image: url('../assets/deprecated.svg');
  }
}

.notecard {
  --note-background: var(--background-information);
  --note-theme: var(--icon-information);
  background-color: var(--color-ui-note);
  border: 1px solid var(--color-ui-note-border);
  border-left: 4px solid var(--color-ui-note-border);
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

.notecard.notecard,
.notecard.notecard li,
.notecard.notecard p {
  color: var(--color-ui-typo);
}
