<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  {{#css}}
  <style>
    {{{.}}}
  </style>
  {{/css}}
</head>

<body>
  {{#html}}
  {{{.}}}
  {{/html}}
  {{#js}}
  <script>
    {{{.}}}
  </script>
  {{/js}}
</body>

</html>
